*{
	margin: 0;
	padding: 0;
}

/*header start*/
header{
	background-color: #121B2A;
}
.container {
	overflow: hidden;
	width: 80%;
	margin: 0 auto;
}

.logo {
	float: left;
	width: 21%;

}
.logo img{
	width: 100%;
}
.menu{
	float: right;
	width: 70%;
	margin-top: 60px;
}

.menu ul{
	float: right
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	text-decoration: none;
	font-family: sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	color: white; 
	padding: 0 20px;
	display: inline-block;
	transition: .5s;
}
.menu ul li:last-child a{
	padding-right: 0;

}
.menu ul li a:hover{
	color: #0079BE;
}
/*header end*/
/*banner start*/
.banner{
	background-image: url(../images/businesswoman.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 500px;
}
.banner_content{
	margin-top: 200px;
	margin-bottom: 70px;
	width: 50%;
	/*border: 5px solid white;*/
}
.banner_content h1{
	margin: 0;
	font-family: sans-serif;
	font-size: 36px ;
	font-weight: 400;
	color: white;
}
.banner_content h2{
	margin: 0;
	font-family: sans-serif;
	font-size: 39px ;
	font-weight: 700;
	color: #0075B8;
}
.banner_content p{
	margin: 0 0 20px;
	font-family: sans-serif;
	font-size: 18px ;
	font-weight: 400;
	color: white;
	line-height: 30px;
}
.banner_content button{
	width: 200px;
	height: 50px;
	font-family: sans-serif;
	font-size: 18px ;
	font-weight: 400;
	color: #5A5A5A;
	text-transform: uppercase;
	background-color: white;
	border: none;
	cursor: pointer;
	transition: .3s;
}
.banner_content button:focus{
	outline: none;
}
.banner_content button:hover{
	background-color: #0075B8;
	color: aqua;
}


/*banner end*/